# Byte-compiled / compiled Python files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/

# SQLite database (if using SQLite)
db.sqlite3

# Logs
logs/
*.log

# Static files (if using collectstatic)
staticfiles/

# Ignore VSCode & PyCharm settings
.vscode/
.idea/
